# Default ignored files
/../../Ex3_Letter_and_character_count./.idea/shelf/
/../../Ex3_Letter_and_character_count./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Ex3_Letter_and_character_count./.idea/httpRequests/
# Ignored default folder with query files
/../../Ex3_Letter_and_character_count./.idea/queries/
# Datasource local storage ignored files
/../../Ex3_Letter_and_character_count./.idea/dataSources/
/../../Ex3_Letter_and_character_count./.idea/dataSources.local.xml
