# Default ignored files
/../../Ex2_Binary_search_algorithm./.idea/shelf/
/../../Ex2_Binary_search_algorithm./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Ex2_Binary_search_algorithm./.idea/httpRequests/
# Ignored default folder with query files
/../../Ex2_Binary_search_algorithm./.idea/queries/
# Datasource local storage ignored files
/../../Ex2_Binary_search_algorithm./.idea/dataSources/
/../../Ex2_Binary_search_algorithm./.idea/dataSources.local.xml
